.cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  border: 1px solid;
  border-radius: 50%;
  pointer-events: none;
  z-index: 100;
  transition: border-color 0.2s;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
